.content-wrapper {
	left: 50px;
	text-align: center;
}

.mmind-btn-im {
	position: relative;
	left: 5px;
	cursor: pointer;
	width: 600px;
	height: 180px;
}

.dev-bar-ico {
	width: 50px;
	height: 50px;
	border-radius: 100%;
}

.bglogo {
	width: 50ch;
	height: 50ch;
	left: -10px;
	position: absolute;
	overflow: show;
	opacity: 0.1;
}

.im404 {
	width: 100ch;
	height: 100ch;
}

.txt404 {
	color: rgba(245, 139, 139, 0.9);
	background-color: rgba(0, 0, 0, 0.4);
}

.btn {
	width: 250px;
	height: 50px;
	border-radius: 5px;
	background-color: rgba(20, 20, 20, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.unselectable {
  -webkit-touch-callout: none;
  user-select: none;
}

.copyright {
	position: absolute;
	bottom: 0px;
}

A {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.8)
}

A:active {
	color: rgba(207, 3, 252, 0.5)
}