@keyframes animatedBackground {
    0% {background-position: 0 0;}
    50% {background-position: -300px -600px;}
    100% {background-position: 0px 0px;}
}

body{
	background-image: url(bgimage.jpg);
    background-repeat: no-repeat;
    background-color: #290035;
	animation: animatedBackground 120s linear infinite;
}