.ctx {
	position: absolute;
	top: 0px;
	
	color: rgb(255, 255, 255);
}

.title_text {
	left: 40%;
}

.copyright {
	position: absolute;
	bottom: 0px;
	color: rgba(255, 255, 255, 0.15);
}

.cmx {
	left: 37%;
	top: 5%;
}

.mmind {
	left: 37%;
	top: 15%;
}

.btn {
	width: 250px;
	height: 50px;
	border-radius: 5px;
	background-color: rgba(20, 20, 20, 0.6);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none
  -ms-user-select: none;
  user-select: none;
}

.btn_text {
	position: relative;
	top: 35%;
	left: 7%;
	
	color: rgba(255, 255, 255, 0.7);
}

A {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.15)
}

A:active {
	color: rgba(207, 3, 252, 0.5)
}